/* #region fonts */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* #endregion */

/* #region head */
* {
  box-sizing: border-box;
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #455929;
  --color-brand-gray: #cfcfbc;
  --bakery-landing-14: #a18268;
}

/* #endregion */

/* #region body */
body {
  margin: 0;
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primary-light);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}
.container {
  margin: 0 auto;
  max-width: 1288px;
  width: 100%;
  padding: 0 24px;
}
/* #endregion */
/* #region header */
.button {
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid;
  background: var(--color-brand-light);
  padding: 16px 32px;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
  /* font-weight: 600; */
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}
/*  #endregion */
/* #region hero */
.hero-section {
  padding: 272px 0;
  background-image: url(../imajes/bgi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: linear-gradient(
    103deg,
    rgba(18, 18, 17, 0.78) 2.03%,
    rgba(18, 18, 17, 0.6) 58.46%,
    rgba(18, 18, 17, 0) 90.36%
  ); */
  /* background-attachment: fixed; */
}
.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin-bottom: 0;
}
.hero-title .accent {
  color: var(--color-brand-light);
}
.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}
.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
/*  #endregion */
/* #region tradition */
.tradition-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.tradition-info {
  max-width: 710px;
}
.tradition-title {
  margin-bottom: 42px;
}
.tradition-section {
  padding-top: 96px;
}
.tradition-text span {
  color: var(--color-brand-light);
  font-weight: 600;
}
.tradition-text-brand {
  text-transform: uppercase;
}
.tradition-text.lim {
  max-width: 330px;
}
/*  #endregion */
/* #region chefs */
.chefs-title {
  margin: 0 auto 80px;
  max-width: 520px;
}
.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-gray);
  content: "";
}
.chefs-img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--bakery-landing-14);
  /* border: 1px solid var(--bakery-landing-14, #a18268); */
}
.cooks-title {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
/*  #endregion */
/* #region formats */
.formats-list {
  display: flex;
  gap: 20px;
}
.format-cards {
  height: 444px;
  border: 1px solid #faf4ea;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
}
.card {
  flex-basis: calc((100% - 40px) / 3);
}
.format-title {
  margin-bottom: 80px;
}
.formats-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}
.formats-title {
  color: var(--color-primary-light);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
}
.contact-title {
  margin-bottom: 16px;
}
/*  #endregion */
/* #region footer */
.footer {
  background-image: url(../imajes/footer-bg.jpg);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.address-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: #819b57;
}
.address-copirate {
  font-size: 14px;
  color: #a18268;
}
/*  #endregion */
